body{
	background-image: url("../pics/home_cover.jpg");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}
div{
	word-wrap: break-word;
}
#header{
	width: 100%;
	height: 170px;
}
#top_area{
	width: 100%;
	height: 100px;
	margin-top: 20px; 
}
#menu{
	width: 100%;
	height: 50px;
	margin: auto;
	display: block;
}

#logo_bar{
	font-family: fantasy;
	font-size: 3em;
	width: 20%;
	margin-left: 10%;
	float: left;
}

#login_bar{
	width: 30%;
	margin-right: 5%;
	float: right;
}
/* menu bar*/
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
    margin-left: 7%;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: monospace;
}

#menu li a:hover:not(.active){
    background-color: #111;

}

#menu .active {
    background-color: #4CAF50;
}
/* dropdown menu*/
#menu li.dropdown {
    display: inline-block;
}

#menu .dropdown-content {
	z-index:1;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#menu .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#menu .dropdown-content a:hover {background-color: #f1f1f1}

#menu .dropdown:hover .dropdown-content {
    display: block;
}

#search_bar{
	float: right;
	margin-right: 5%;
}
#search{
    background-image: url('../pics/searchicon.png');
    background-position: 12px 8px;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: fantasy;
    margin-top:5px;
    padding: 9px 18px 10px 45px;
}
#search_btn{
	margin-left: 5px;
	background-color: #4CAF50; /* Green */
	border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 5px;
    transition-duration: 0.4s;
}
#search_btn:hover{
	color:red;
}
/* end of index css*/


/* home page css*/
#body_head{
	width: 100%;
	min-height: 500px; 
}
#slides{
	float: left;
	margin-left: 8%;
	max-height: 500px;
	max-width: 50%;

}
#slides_right{
	float: right;
	max-width: 30%;
	margin-right: 15%;
	margin-top: 20px;
	padding-top: 20px;
}	
#welcome{
	margin-top: 50px;
}
#welcome p{
	font-family: Impact;
	font-size: 40px;
	margin-top: 10px;
}

/* end of home page CSS*/



/* activity CSS*/
.subcat{
	width: 100%;
	min-height: 500px;
	padding-top: 10px;
}
.subcat_left{
	padding: 20px 30px;
	margin-bottom: 10px;
	margin-left: 5%;
	min-width: 40%;
	height: 200px;
	float: left;
	border: 1px solid;
	display: block;
}
.subcat_right{
	padding: 20px 30px;
	margin-bottom: 10px;
	margin-right: 5%;
	min-width: 40%;
	height: 200px;
	float: right;
	border: 1px solid;
	display: block;
}
#body_content table{
	margin: 3px 5%;
	border: 1px solid;
	width: 90%;
	min-height: 100px;

}
.table_head td{
	padding: 10px 0;
	font-family: Times;
	font-size: 30px;
	background-color: #e6f1f6;
}
.table_entry td{
	padding: 2px 0;
	font-family: fantasy;
	font-size: 25px;
	background-color: white;
}

/* end of activities CSS*/

/* new_activity CSS*/
#ahead_editor{
	min-height:20px;
	margin: 20px 10%; 
	font-size: 16px;
	font-weight: bold;
}
#ahead_editor input[type='text']{
	width: 300px;
}
#editor{
	padding: 0 10%;
	min-height: 400px;
}
/* end of new_activity CSS*/



/* thread CSS*/
#thread_title{
	margin-top: 20px;
	padding-left: 10%;
	font-size: 30px;
	font-family: fantasy;
}
.comment{
	margin: 0 10%;
	margin-top: 5px;
	width: 80%;
	height: 150px;
	border: 2px solid;
}
.left_comment{
	float: left;
	margin-left: 3%;
	width: 20%;
	height: 150px;
	border: 1px solid;
	display: inline;
}
.right_comment{
	margin-right: 10%;
	float: right;
	width: 65%;
	height: 150px;
	border: 1px solid;
}

#re_editor{
	margin:30px 0;
	padding: 0 10%;
	min-height: 100px;

}
/* end thread CSS*/

/* start of profile CSS*/
#profile_module{
	padding:30px 10%;
	font-size: 30px;
}
/* end of profile CSS*/

